html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=no')
        title PlatziGram
        // Compiled and minified CSS
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Oleo+Script:wght@400;700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        link(rel='stylesheet' href='app.css')

        link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
        link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/manifest.json')
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
        meta(name='theme-color' content='#ffffff')


    body
        section#main-container 

    //-     .container
    //- .row
    //-   .col.s10.push-s1
    //-     .row
    //-       .col.m5.hide-on-small-only
    //-         img.iphone(src='iphone.png' alt='iphone')
    //-       .col.s12.m7
    //-         .row
    //-           .signup-box
    //-             h1.platzigram PlatziGram
    //-             form.signup-form(action='')
    //-               h2 Registrate para ver fotos de tus amigos estudiando en platzi
    //-               .section
    //-                 a.btn.btn-fb.hide-on-small-only(href='')
    //-                   | Iniciar sesion con
    //-                   | facebook
    //-                 a.btn.btn-fb.hide-on-med-and-up(href='') Iniciar sesion
    //-               .divider
    //-               .section
    //-                 input(type='email' name='email' placeholder='Correo Electronico')
    //-                 input(type='text' name='name' placeholder='Nombre completo')
    //-                 input(type='text' name='username' placeholder='Nombre de usuario')
    //-                 input(type='password' name='clave' placeholder='contraseña')
    //-                 button.btn.waves-effect.waves-light Registrate
    //-           .row
    //-             .login-box
    //-               | &iquest;Tienes una cuenta?
    //-               a(href='/signin') Entrar




    footer.site-footer
        .container
            .row
                .col.s12.l3.center-aling
                    // Dropdown Trigger
                    a.dropdown-trigger.btn.btn-flat(href='#' data-target='dropdown1') Idioma
                    ul#dropdown1.dropdown-content
                      li
                        a(href='#!') Espa&ntilde;ol
                      li
                        a(href='#!') Ingl&eacute;s
                .col.s12.l3.push-l6.center-aling
                    | © 2016 Platzigram
      
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src='app.js')