body {
    background: #fafafa;
    color: #125688;
    /* font-family: ; */
}

#main-container{
    margin: 30px auto;
}

.iphone{
    max-width: 100%;
}

.site-footer{
    text-transform: uppercase;
    font-size: 12px;
}

.login-box , 
.signup-box{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
}

.signup-box{
    
}